
body{
  background: linear-gradient(230.31deg, rgba(241, 96, 152, 0.98) 0.35%, rgba(57, 50, 225, 0.69) 61.27%);

}


* {
  padding: 0;
  margin: 0;
}
.container{

  width: 1140px;
  margin: 0 auto;
}
#header{
  background: rgba(85, 104, 134, 0.98);

}

.head{

display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  &__head1{
    width: 102px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    animation: head__head1key 0.3s linear 1s;
  }
  &__head2{
    width: 102px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    animation: head__head2key 0.3s linear 1s;
  }
}
@keyframes head__head1key {
  from{
    margin-left: -400px;
  }
  to{
    margin-left: 0;
  }
}
@keyframes head__head2key {
  from{
    margin-right: -400px;
  }
  to{
    margin-right: 0;
  }
}
#section{

}
.img{
   position: absolute;
   z-index: 2;
   width: 1100px;
   height: 900px;
   padding:196px 0 0 20px;
 }
.Us{
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Us__Ux{
  padding-top: 50px;
  width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}
.Us__rect{
  padding-top: 50px;

}
.Us__rect__rect2 {
  flex-direction: column;
  width: 1000px;
  height: 800px;
  background: linear-gradient(90deg, rgba(23, 40, 65, 0.98) 0%, #725593 100%);
  border-radius: 10px;
}
.Us__rect__rect2__img1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
&__A1{
padding-top: 50px;
  &__A2 {
margin-top: -100px;
    &__A3 {

      margin-top: -180px;
    }
  }
}
}
.Us__rect__rect2__Text1{
padding-left: 120px;
  width: 862px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 147.4%;
  color: #FFFFFF;
}
.Us__rect__rect2__img2 {
display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -130px;
  margin-top: -60px;
  &__A1{


    &__A2 {
padding: 0 50px 0 30px;
      &__A3 {

      }
    }
    }
  }
.Us__rect__rect2__Text2{
 margin: -30px 0 0 120px;
  width: 800px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 147.4%;
  color: #FFFFFF;
}
#Ken{

}
.img2{
  position: absolute;
  z-index: 2;
  width: 1100px;
  height: 950px;
  padding:145px 0 0 20px;
}
.Team{
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Team__start{
padding:0 0 0 30px;
  width: 315px;
  height: 49px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}
.Team__rect{
  padding-top: 70px;
}
.Team__rect__rect2{
  flex-direction: column;
  width: 1000px;
  height: 800px;
  background: linear-gradient(90deg, rgba(23, 40, 65, 0.98) 0%, rgba(45, 60, 112, 0.69) 100%);
  border-radius: 10px;
}
.Team__rect__rect2__img1{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  &__A1{
width: 400px;
    margin-top: 200px;
  &__A2{
    margin-top: -230px;
    width: 308px;
    height: 473px;
    &__A3{
      margin-top: -350px;
      width: 400px;
    }
  }
}
}

.Team__rect__Text{
  padding-left:120px ;
  margin-top: -130px;
  height: 220px;
display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  &__A1{
    margin: 0 0 0 -70px;
    text-decoration: none;
    width: 365px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FDA905;
    &__A2{
      margin: 0 0 0 -80px;
      text-decoration: none;
      width: 501px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 161.4%;
      text-transform: uppercase;
      color: #FFFFFF;
      &__A3{
        text-decoration: none;
        width: 996px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 161.4%;
        color: #FFFFFF;
      }
    }
  }

}
.Team__rect__btn{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 35px;
}
.Team__rect__btn__A1:hover{
  background: orange;
  cursor: pointer;
  position: relative;
}


#modalCall:checked~.Team__rect__btn__modall {
  display: block;
}
.WindowT{
  display: none;
}
.Team__rect__btn__A1 {
display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #A55ED0 0%, #2957A3 100%);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 148.4%;
  color: #FFFFFF;
  flex-direction: column;
}
.Team__rect__btn__modall{
  font-size: 20px;
  display: none;
  width: 400px;
  height: 200px;
  background: cornflowerblue;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;

  &__A1{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    color: white;
    padding: 10px 0 10px 0;
    &__A2{
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: space-evenly;
      color: white;
      padding: 10px 0 10px 0;
      &__A3{
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: space-evenly;
        margin: 10px 0 10px -40px;

        &__A4{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
    }
  }
}
#Nuri{

}
.Nuri{
  padding-top: 100px;
  width: 1100px;
  height: 950px;
  margin-left:  20px;
  border: 1px solid rgba(255, 123, 226, 0.8);
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.Nuri__rect{
  width: 1000px;
  height: 800px;
  background: rgba(15, 16, 63, 0.6);
  border-radius: 10px;

}
.Nuri__rect__img{
display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__A1{
padding-top: 80px;
    &__A2{
   margin-top: -50px;
      width: 308px;
      height: 473px;
      &__A3{
        padding-top: 80px;
      }
    }
  }
}
.Nuri__rect__Text{
display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-left:120px ;
  margin-top: 40px;
  height: 200px;
  &__A1{
    text-decoration: none;
    width: 453px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #FDA905;
    &__A2{
      margin-left: -100px;
      text-decoration: none;
      width: 264px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 161.4%;
      text-transform: uppercase;
      color: #FFFFFF;
      &__A3{
        width: 996px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 161.4%;
        color: #FFFFFF;
      }
    }
  }
}
.Nuri__rect__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}
.Nuri__rect__btn__A1:hover{
  background: lawngreen;
  cursor: pointer;

}
#modalBack:checked~.Nuri__rect__btn__modal {
  display: block;
}
.Window{
  display: none;
}
.Nuri__rect__btn__A1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #A55ED0 0%, #2957A3 100%);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 148.4%;
  color: #FFFFFF;
  flex-direction: column;
  &__A3{

  }
}
.Nuri__rect__btn__modal{
  font-size: 20px;
  display: none;
  width: 400px;
  height: 250px;
  background: cornflowerblue;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;


  &__A1{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
    color: white;
    padding: 10px 0 10px 0;
    &__A2{
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: space-evenly;
      color: white;
      padding: 10px 0 10px 0;
      &__A3{
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: space-evenly;
        margin: 10px 0 10px -40px;

        &__A4{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
    }
  }
}
#ibro{

}
.ibro{
margin-top: 70px;
  width: 1100px;
  height: 950px;
  margin-left: 20px;
  border: 2px solid rgba(20, 49, 145, 0.69);
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}
.ibro__rect{
  width: 1000px;
  height: 800px;
  background: rgba(15, 16, 63, 0.6);
  border-radius: 10px;

}
.ibro__rect__img{
display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__A1{
margin: 0 0 -150px 0;
    &__A2{
margin-top: -50px;
      &__A3{

      }
    }
  }
}
.ibro__rect__Text{
display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 250px;
  &__A1{
    width: 299px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFC024;
    text-decoration: none;
    &__A2{
      text-decoration: none;
      width: 264px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 161.4%;
      text-transform: uppercase;
      color: #FFFFFF;
      &__A3{
        padding-left: 120px;
        text-decoration: none;
        width: 996px;
        height: 45px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 161.4%;
        color: #FFFFFF;
      }
    }
  }
}
.ibro__rect__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 margin-top: -100px;
}
.ibro__rect__btn__A1:hover{
  background: red;
  cursor: pointer;
}
#modalBackibro:checked~.ibro__rect__btn__modal {
  display: block;
}
.Windowi{
  display: none;
}
.ibro__rect__btn__A1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #A55ED0 0%, #2957A3 100%);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 148.4%;
  color: #FFFFFF;
  flex-direction: column;
  &__A3{

  }
}
.ibro__rect__btn__modal{
  font-size: 20px;
  display: none;
  width: 400px;
  height: 250px;
  background: cornflowerblue;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;


  &__A1{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
    color: white;
    padding: 10px 0 10px 0;
    &__A2{
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: space-evenly;
      color: white;
      padding: 10px 0 10px 0;
      &__A3{
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: space-evenly;
        margin: 10px 0 10px -40px;

        &__A4{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
#gul{

}
.gul{

  margin-top: 70px;
  width: 1100px;
  height: 950px;
  margin-left: 20px;
  border: 1px solid rgba(255, 123, 226, 0.8);
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gul__rect{
  width: 1000px;
  height: 800px;
  background: rgba(15, 16, 63, 0.6);
  border-radius: 10px;

}
.gul__rect__img{
display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__A1{
    padding-top: 250px;
    width: 400px;
    height: 200px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(62, 93, 255, 0.6) 0%, rgba(62, 93, 255, 0) 100%);
    transform: rotate(-30.31deg);
    &__A2{
      margin-top: -130px;
      width: 300px;
      height: 400px;
      &__A3{
        padding-top: 250px;
        width: 400px;
        height: 200px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(62, 93, 255, 0.6) 0%, rgba(62, 93, 255, 0) 100%);

        transform: rotate(31.59deg)
      }
    }
  }
}
.gul__rect__Text{
display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 220px;
  &__A1{
    padding-left: 20px;
    width: 342px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FDA905;
    text-decoration: none;
    &__A2{
      text-decoration: none;
      width: 183px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 161.4%;
      text-transform: uppercase;
      color: #FFFFFF;
      &__A3{
        text-decoration: none;
        width: 913px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 161.4%;
        color: #FFFFFF;
        padding-left: 100px;
      }
    }
  }
}

.gul__rect__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.gul__rect__btn__A1:hover{
  background: blue;
  cursor: pointer;
}
#modalBackgul:checked~.gul__rect__btn__modal {
  display: block;
}
.Windowi{
  display: none;
}
.gul__rect__btn__A1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #A55ED0 0%, #2957A3 100%);
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 148.4%;
  color: #FFFFFF;
  flex-direction: column;
}
.gul__rect__btn__modal{
  font-size: 20px;
  display: none;
  width: 400px;
  height: 250px;
  background: cornflowerblue;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;


  &__A1{
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-evenly;
    color: white;
    padding: 10px 0 10px 0;
    &__A2{
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: space-evenly;
      color: white;
      padding: 10px 0 10px 0;
      &__A3{
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: space-evenly;
        margin: 10px 0 10px -40px;

        &__A4{
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
#Port{

}
.imgfone{
  position: absolute;
  z-index: 2;
  margin-top: 70px;
  width: 1100px;
  height: 800px;
  margin-left: 20px;
  padding-top: 100px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.port{
  padding: 150px 0 0 0;
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__A1{
    margin-left: -35px;
    width: 244px;
  margin-top: -5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 49px;
    color: #FFFFFF;
    &__A2{
      margin-top: 40px;
      width: 1000px;
      height: 700px;
    border-radius: 10px;
      &__A3{
        margin: -515px 0 0 -868px;
position: absolute;
        z-index: 2;
        width: 513.95px;
        height: 514.12px;
        transform: rotate(-4.13deg);
        &__A4{
          margin: 612px 0 0 817px;
          position: absolute;
          z-index: 2;
          width: 493.74px;
          height: 493.9px;
          transform: rotate(34.13deg);
        }
      }
    }
  }
}
.Set{
  padding: 200px 0 100px 0;
display: flex;
  align-items: center;
  justify-content: center;
  &__one{
padding-left: 30px;
    width: 289px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;

  }
}
.web {
display: flex;
  align-items: center;
  justify-content: space-around;


}
  .web__A1{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__A2{
      width: 60px;
      font-family: 'Orbitron', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF;
    }
  }
.web__B1{

  &__B2{
padding: 30px 0 0 20px;
    width: 60px;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
}
.web__C1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__C2{
    padding-left: 40px;
    width: 60px;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
}
.css{
display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}
.css__A1{

  &__A2{
    padding: 10px 0 0 5px;
    width: 113px;
    height: 18px;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
}
.css__B1{

  &__B2{
   margin: 20px 0 0 28px;
    width: 113px;
    height: 18px;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
}
#Contact{

}
.Cont{
margin: 160px 0 0 70px;
  width: 1000px;
  height: 800px;
  background: #243D75;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;

  &__h{

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

}
.Cont__rect{
  width: 880px;
  height: 597px;
  background: rgba(33, 34, 108, 0.5);
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.Cont__rect__Text{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 540px;
  padding-left: 10px;
  &__h1{
    width: 310px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    &__h4{
      width: 312px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}
.Cont__rect__Text__A1{
display: flex;
  align-items: center;
  &__A2{
    padding-left: 20px;
    text-decoration: none;
    width: 133px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }
}
.Cont__rect__Text__M1{
  display: flex;
  align-items: center;
  &__M2{
    padding-left: 20px;
    text-decoration: none;
    width: 168px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }
}
.Cont__rect__img{

  &__A1{
    text-decoration: none;
    width: 187px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
  }
}
.Cont__rect__img__set{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.Cont__rect__Email{
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 530px;
  padding-left: 100px;
  &__A1{
    width: 321px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
}
.Cont__rect__Email__B1__B2__B3__B4:hover{
  background: mediumspringgreen;
  cursor: pointer;
}
.Cont__rect__Email__B1{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 487px;

  &__B2{
    width: 405px;
    height: 38px;
    background: #5F669D;
    border-radius: 10px;
    &__B3{
      width: 405px;
      height: 180px;
      background: #5F669D;
      border-radius: 10px;
      &__B4{
        width: 260px;
        height: 48px;
display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #A25DCF 2.31%, #2957A3 100%);
        box-shadow: 0 4px 9px rgba(112, 51, 173, 0.2);
        border-radius: 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}
#footer{

  height: 101px;
  background: #222F70;
}

.Foot{
  padding: 30px 0 0 70px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 995px;
}
.Foot__last{
display: flex;
  align-items: flex-end;

  &__A1{
    padding-left: 10px;
    width: 204px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
}
.logo{
  display: none;
}
.Burger{
  display: none;
}
.BurgerMenu{
  display: none;
}
.Foot__A2{
  width: 43px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.fot{
  width: 992px;
  padding-left: 70px;
}
@media (max-width: 1024px) {
  .container{
    width: 1000px;
  }
  .img {
    width: 949px;}
  .Us__rect__rect2
  {
    width: 855px;}
  .Us__rect__rect2__Text1 {
    font-size: 20px;}
  .Us__rect__rect2__Text2 {
    width: 681px;
    font-size: 18px;}
  .img2 {
    width: 949px;}
  .Team__start {
    width: 288px;
    font-size: 35px;}
  .Team__rect__rect2{
    width: 855px;
  }
  .Team__rect__Text__A1__A2__A3 {
    width: 873px;
    font-size: 25px;}
  .Nuri {
    width: 949px;}
  .Nuri__rect {
    width: 855px;
    }
  .Nuri__rect__Text__A1__A2__A3 {
    width: 887px;
    font-size: 25px;}
  .ibro {
    width: 949px}
  .ibro__rect {
    width: 855px;}
  .ibro__rect__Text__A1__A2__A3 {
    width: 887px;
    font-size: 25px;}
  .gul {
    width: 949px;}
  .gul__rect{
    width: 855px;
  }
  .imgfone {
    width: 949px;}
  .port__A1 {
    margin-left: -10px;
    width: 225px;
    font-size: 39px;}
  .port__A1__A2 {
    width: 855px;}
  .Cont {

    width: 881px;}
  .Cont__rect {
    width: 844px;}
  .Foot {
    width: 869px;}
  .fot {
    width: 866px;}
  .Set__img1{
    width: 276px;
  }
  .Set__img2{
    width: 276px;
  }
}
@media (max-width: 992px) {
  .container{
    width: 960px;
  }
  .img {
    width: 920px;
  }
  .Us__Ux {
    width: 84px;
    font-size: 30px;}
  .img2 {
    width: 920px;
  }
  .Team__start {
    width: 279px;
  }
  .Nuri{
    width: 920px;
  }
  .ibro{
    width: 920px;
  }
  .gul{
    width: 920px;
  }
  .imgfone{
    width: 920px;
  }
  .port__A1__A2__A3 {
    margin: -523px 0 0 -596px;}
  .port__A1__A2__A3__A4 {
    margin: 612px 0 0 599px;}
  .Cont {
    width: 855px;
  }
  .Cont {
    margin: 160px 0 0 46px;}
  .Foot {
    width: 814px;
  }
  .fot {
    width: 815px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 720px;
  }
  .head {
    display: none;
  }
  .logo {
    display: block;

  }
  .BurgerLiner {
      width: 30px;
      height: 3px;
      margin: 5px;
      background: black;
    }
  .BurgerMenu {
    display: block;


  }
  .clickBurger {
    margin-left: -55px;
    position: absolute;
    transition: all 0.5s linear;
  }
  .clickMini {
    width: 150px;
    height: 177px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
   background: white;
   border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .clickMe {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  #click:checked ~ .clickBurger {
    margin-left: 300px;

  }
  .click_input {
    display: none;
  }
  .Burger {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }

  .img {
    width: 680px;
  }
  .Us__Ux {
    width: 64px;
    font-size: 23px;
  }
  .Us__rect__rect2 {
    width: 635px;
  }
  .Us__rect__rect2__img1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Us__rect__rect2__img1__A1 {
    width: 100px;
  }
  .Us__rect__rect2__img1__A1__A2 {
    width: 300px;
  }
  .Us__rect__rect2__img1__A1__A2__A3 {
    width: 100px;
  }
  .Us__rect__rect2__Text1 {
    font-size: 15px;
  }
  .Us__rect__rect2__img2 {
    margin-left: 20px;
    margin-top: 80px;
  }
  .Us__rect__rect2__img2__A1 {
    width: 100px;
  }
  .Us__rect__rect2__img2__A1__A2 {
    width: 300px;
  }
  .Us__rect__rect2__img2__A1__A2__A3 {
    width: 100px;
  }
  .Us__rect__rect2__Text2 {
    width: 400px;
    font-size: 21px;
  }
  .Us__rect__rect2__Text2 {
    margin: 52px 0 0 120px;
  }
  .img2 {
    width: 680px;
  }
  .Team__start {
    width: 207px;
  }
  .Team__start {
    font-size: 25px;
  }
  .Team__rect__rect2 {
    width: 635px;
  }
  .Team__rect__rect2__img1__A1__A2 {
    width: 281px;
    height: 374px;
  }
  .Team__rect__rect2__img1__A1__A2__A3 {
    width: 331px;
  }
  .Team__rect__rect2__img1__A1 {
    width: 321px;
  }
  .Team__rect__Text__A1__A2__A3 {
    width: 663px;
    font-size: 18px;
  }
  .Nuri {
    width: 680px;
  }
  .Nuri__rect {
    width: 635px;
  }
  .Nuri__rect__img__A1__A2 {
    width: 281px;
    height: 374px;
  }
  .Nuri__rect__Text__A1__A2__A3 {
    width: 694px;
    font-size: 19px;
  }
  .ibro {
    width: 680px;
  }
  .ibro__rect {
    width: 635px;
  }
  .ibro__rect__img__A1 {
    width: 150px;
  }
  .ibro__rect__img__A1__A2 {
    width: 250px;
    height: 360px;
  }
  .ibro__rect__img__A1__A2__A3 {
    width: 150px;
  }
  .ibro__rect__Text__A1__A2__A3 {
    width: 701px;
    font-size: 19px;
  }
  .ibro__rect__Text {
    height: 347px;
  }
  .gul {
    width: 680px;
  }
  .gul__rect {
    width: 635px;
  }
  .gul__rect__img__A1__A2 {
    width: 250px;
    height: 360px;
  }
  .gul__rect__Text__A1__A2__A3 {
    width: 670px;
    font-size: 20px;
  }
  .imgfone {
    width: 680px;
    height: 680px;
  }
  .port__A1 {
    width: 175px;
    font-size: 32px;
  }
  .port__A1__A2 {
    width: 635px;
    height: 530px;
  }
  .port__A1__A2__A3 {
    margin: -383px 0 0 -360px;
  }

  .port__A1__A2__A3 {
    width: 345.95px;
    height: 350.12px;
  }
  .port__A1__A2__A3__A4 {
    margin: 506px 0 0 423px;
  }

  .port__A1__A2__A3__A4 {
    width: 350.74px;
    height: 350.9px;
  }
  .Set {
    width: 680px;
  }
  .Set__img1 {
    width: 200px;
    padding-left: 45px;
  }
  .Set__img2 {
    width: 195px;
    padding-right: 10px;
  }
  .Set__one {
    font-size: 30px;
  }
  .Cont {
    width: 635px;
    height: 1150px;
  }
  .Cont__rect__Text__M1 {
    padding-left: 30px;
  }
  .Cont__rect {
    width: 535px;
    flex-direction: column;
    height: 950px;
  }
  .Cont__rect__Text {
    align-items: center;
  }
  .Cont__rect__Email__B1 {
    align-items: center;
    padding-left: 12px;
  }
  .Cont__rect__Email{
    padding-left: 0;
  }
  .fot {
    width: 569px;
  }
  .Foot__A2 {
    width: 300px;}
}
@media (max-width: 576px) {
  .container {
    width: 520px;
  }
  .img {
    width: 472px;
  }
  .Us__Ux {
    width: 62px;
    font-size: 21px;
  }
  .Us__rect__rect2__img1__A1 {
    width: 80px;
  }
  .Us__rect__rect2__img1__A1__A2 {
    width: 250px;
  }
  .Us__rect__rect2__img1__A1__A2__A3 {
    width: 90px;
  }
  .Us__rect__rect2__img2__A1__A2 {
    width: 250px;
  }
  .Us__rect__rect2__img2 {
    margin-left: 14px;
  }
  .Us__rect__rect2__img2__A1 {
    width: 54px;
  }
  .Us__rect__rect2__img2__A1__A2__A3 {
    width: 60px;
  }
  .Us__rect__rect2__Text2 {
    margin: 52px 0 0 89px;
  }
  .Us__rect__rect2__Text2 {
    width: 272px;
    font-size: 20px;
  }
  .Us__rect__rect2__img2 {
    margin-left: 19px;
  }
  .Us__rect__rect2 {
    width: 440px;
  }
  .Us__rect__rect2__Text1 {
    font-size: 15px;
  }

  .Us__rect__rect2__Text1 {
    padding-left: 13px;
    width: 420px;
  }
  .img2 {
    width: 472px;
  }
  .Team__start {
    font-size: 17px;
  }
  .Team__start {
    width: 156px;
  }
  .Team__rect__rect2 {
    width: 440px;
  }
  .Team__rect__rect2__img1__A1__A2 {
    width: 180px;
    height: 290px;
  }
  .Team__rect__rect2__img1__A1__A2 {
    margin-top: -180px;
  }
  .Team__rect__rect2__img1__A1 {
    width: 198px;
  }
  .Team__rect__rect2__img1__A1__A2__A3 {
    width: 198px;
  }
  .Team__rect__Text__A1 {
    margin: 68px 0 0 -70px;
  }
  .Team__rect__Text__A1__A2 {
    margin: 50px 0 50px -80px;
    width: 436px;
    font-size: 17px;
  }
  .Team__rect__btn {
    padding-top: 138px;
  }
  .Team__rect__Text__A1__A2__A3 {
    width: 442px;
    font-size: 22px;
  }
  .Nuri {
    width: 472px;
  }
  .Nuri__rect {
    width: 440px;
  }
  .Nuri__rect__img__A1 {
    width: 100px;
  }
  .Nuri__rect__img__A1__A2__A3 {
    width: 100px;
  }
  .Nuri__rect__img__A1__A2 {
    width: 180px;
    height: 290px;
  }
  .Nuri__rect__Text__A1__A2__A3 {
    width: 457px;
    font-size: 23px;
    margin: 55px 0 0 0;
  }
  .Nuri__rect__Text__A1__A2 {
    margin-top: 50px;
  }
  .Nuri__rect__btn {
    padding-top: 110px;
  }
  .ibro {
    width: 472px;
  }
  .ibro__rect {
    width: 440px;
  }
  .ibro__rect__img__A1__A2 {
    width: 180px;
    height: 290px;
  }
  .ibro__rect__img__A1 {
    width: 100px;
  }
  .ibro__rect__img__A1__A2__A3 {
    width: 100px;
  }
  .ibro__rect__Text__A1__A2__A3 {
    width: 431px;
    font-size: 23px;
  }
  .gul {
    width: 472px;
  }
  .gul__rect {
    width: 440px;
  }
  .gul__rect__img__A1__A2 {
    width: 180px;
    height: 290px;
    margin-top: -223px;
  }
  .gul__rect__img__A1 {
    background: none;
  }
  .gul__rect__img__A1__A2__A3 {
    background: none;
  }
  .gul__rect__Text__A1__A2__A3 {
    width: 428px;
  }
  .imgfone {
    width: 472px;
    height: 630px;
  }
  .port__A1 {
    width: 125px;
    font-size: 22px;
  }
  .port__A1__A2 {
    width: 440px;
  }
  .port__A1__A2__A3 {
    width: 230.95px;
    height: 228.12px;
  }
  .port__A1__A2__A3 {
    margin: -390px 0 0 -280px;
  }
  .port__A1__A2__A3__A4 {
    width: 276.74px;
    height: 286.9px;
    margin: 506px 0 0 288px;
  }
  .Set__img1 {
    width: 140px;
    padding-left: 290px;
  }
  .Set__img2 {
    width: 140px;
    padding-right: 481px;
  }
  .Set__one {
    font-size: 23px;
    padding-left: 1px;
  }
  .Cont {
    margin: 160px 0 0 25px;
  }
  .Cont {
    width: 472px;
    height: 1150px;
  }
  .Cont__rect {
    width: 440px;
  }
  .Foot {
    padding: 30px 0 0 31px;}
  .fot {
    width: 441px;
    padding-left: 33px;
  }
  .Foot__A2 {
    width: 416px;
  }
}
@media (max-width: 451px) {
  .container {
    width: 400px;
  }
  .Burger {
    justify-content: space-around;
  }
  .img {
    display: none;
  }
  .Us__rect__rect2 {
    width: 370px;
  }
  .Us__rect__rect2__img1__A1 {
    display: none;
  }
  .Us__rect__rect2__img1__A1__A2__A3 {
    display: none;
  }
  .Us__rect__rect2__img1__A1__A2 {
    margin-top: 40px;
  }
  .Us__rect__rect2__Text1 {
    padding-left: 56px;
    padding-top: 30px;
    width: 259px;
  }
  .Us__rect__rect2__img2__A1 {
    display: none;
  }
  .Us__rect__rect2__img2__A1__A2__A3 {
    display: none;
  }
  .Us__rect__rect2__Text2 {
    margin: 31px 0 0 59px;
  }
  .img2 {
    display: none;
  }
  .Team__rect__rect2 {
    width: 370px;
  }
  .Team__rect__rect2__img1__A1 {
    display: none;
  }
  .Team__rect__rect2__img1__A1__A2__A3 {
    display: none;
  }
  .Team__rect__rect2__img1__A1__A2 {
    margin-top: -44px;
  }
  .Team__rect__Text {
    margin-top: 7px;
  }
  .Team__rect__Text__A1__A2 {
    width: 346px;
    font-size: 13px;
  }
  .Team__rect__btn {
    padding-top: 187px;
  }
  .Nuri {
    border: none;
  }
  .Nuri__rect {
    width: 370px;
    margin-left: -114px;
  }
  .Nuri__rect__img__A1 {
    display: none;
  }
  .Nuri__rect__img__A1__A2__A3 {
    display: none;
  }
  .Nuri__rect__btn {
    padding-top: 186px;
  }
  .Nuri__rect__Text__A1__A2__A3 {
    width: 462px;
  }
  .ibro {
    border: none;
  }
  .ibro__rect {
    width: 370px;
    margin-left: -114px;
  }
  .ibro__rect__img__A1 {
    display: none;
  }
  .ibro__rect__img__A1__A2__A3 {
    display: none;
  }
  .ibro__rect__btn {
    margin-left: -124px;
    margin-top: -129px;
  }
  .ibro__rect__Text__A1__A2__A3 {
    width: 442px;
    font-size: 22px;
  }
  .gul {
    border: none;
  }
  .gul__rect {
    width: 370px;
    margin-left: -114px;
  }
  .gul__rect__img__A1 {
    display: none;
  }
  .gul__rect__img__A1__A2__A3 {
    display: none;
  }
  .gul__rect__img__A1__A2 {
    margin-top: -36px;
  }
  .gul__rect__Text__A1 {
    padding-top: 56px;
  }
  .gul__rect__Text {
    height: 326px;
  }
  .gul__rect__Text__A1__A2__A3 {
    width: 353px;
    font-size: 20px;
  }
  .gul__rect__btn {
    margin-top: 74px;
  }
  .imgfone {
    display: none;
  }
  .port__A1__A2__A3{
    display: none;
  }
  .port__A1__A2__A3__A4{
    display: none;
  }
  .port__A1__A2{
    width: 370px;
  }
  .Set__img1{
    display: none;
  }
  .Set__img2{
    display: none;
  }
  .Set__one {
    margin-left: -158px;
  }
  .web__B1{
margin-top: 100px;
  }
  .web__B1 {
    padding-top: 369px;
  }
  .web {
    margin-top: -276px;
  }
  .css {
    justify-content: space-between;
    padding-left: 17px;
  }
  .Cont {
    width: 370px;
    height: 1150px;
      margin: 160px 0 0 16px;
  }
  .Cont__rect {
    width: 333px;
  }
  .Cont__rect__Email__A1 {
    width: 312px;}
  .Cont__rect__Email__B1__B2 {
    width: 300px;
    margin-left: -14px;}
  .Cont__rect__Email__B1__B2__B3 {
    width: 300px;
    margin-left: -14px;
  }
  .Foot__A2 {
    width: 532px;
  }
  .fot {
    width: 331px;}
}
@media (max-width: 420px) {
  .container{
    width: 380px;
  }
}
@media (max-width: 380px) {
  .container{
    width: 350px;
  }
  .Us__rect__rect2 {
    width: 320px;
  }
  .Us__rect__rect2__Text2 {
    margin: 31px 0 0 34px;
  }
  .Team__start {
    padding: 0 0 0 44px;}
  .Team__rect__rect2 {
    width: 320px;
  }
  .Team__rect__Text__A1 {
    width: 316px;
  font-size: 28px;
  }
  .Team__rect__Text__A1__A2 {
    width: 279px;
    font-size: 14px;
  }
  .Team__rect__Text__A1__A2__A3 {
    width: 321px;
    font-size: 16px;
    margin-left: -50px;
  }
  .Nuri__rect {
    width: 320px;
    margin-left: -155px;
  }
  .Nuri__rect__Text__A1 {
    width: 391px;
    font-size: 22px;}
  .Nuri__rect__Text__A1__A2{
    width: 332px;
    font-size: 14px;
  }
  .Nuri__rect__Text__A1__A2 {
    margin-left: 28px;
  }
  .Nuri__rect__Text__A1__A2__A3 {
    width: 301px;
  }
  .Nuri__rect__Text__A1__A2__A3 {
    width: 308px;
    font-size: 23px;
    margin: 55px 0 0 -60px;
  }
 .ibro__rect{
   width: 320px;
   margin-left: -155px;
 }
  .ibro__rect__Text {
    height: 347px;
    padding-left: 26px;
  }
  .ibro__rect__Text__A1__A2__A3 {
    width: 281px;
    font-size: 22px;
    margin-left: -100px;
  }
  .ibro__rect__btn {
    margin-left: -153px;}
  .gul__rect {
    width: 320px;
    margin-left: -155px;
  }
  .gul__rect__Text {
    padding-left: 20px;
  }
  .gul__rect__Text__A1__A2__A3 {
    padding-left: 64px;
  }
  .port__A1__A2{
    width: 320px;
  }
  .web {
    padding-left: 23px;
  }
  .css__B1 {
    padding-left: 108px;
  }
  .Cont {
    width: 320px;
  }
  .Cont__rect {
    width: 269px;
  }
  .Cont__rect__Text__h1 {
    width: 224px;
    font-size: 18px;}
  .Cont__rect__Text__h1__h4 {
    width: 208px;
    font-size: 16px;}
  .Cont__rect__Email__A1 {
    width: 230px;
  font-size: 18px;
  }
  .Cont__rect__Email__B1__B2 {
    width: 229px;}
    .Cont__rect__Email__B1__B2__B3 {
      width: 229px;
      height: 131px;
    }
  .Cont__rect__Email__B1__B2__B3__B4 {
    width: 198px;}
  .Foot__A2 {
    width: 581px;
  }
  .fot {
    width: 277px;
  }
}


